
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}RESUME{% endblock %}</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="Melika Khaliliyan" />
	<meta name="description" content="vCard" />

	<!-- Twitter data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@aliniyazi_">
	<meta name="twitter:title" content="vCard">
	<meta name="twitter:description" content="vCard">
	<meta name="twitter:image" content="/static/site/images/social.html">

	<!-- Open Graph data -->
	<meta property="og:title" content="Melika Khaliliyan" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="your url website" />
	<meta property="og:image" content="/static/site/images/social.html" />
	<meta property="og:description" content="vCard" />
	<meta property="og:site_name" content="vCard" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="/static/site/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/site/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/site/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/static/site/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="/static/site/images/favicons/favicon.png" type="image/png">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/site/styles/style-rtl-demo.css"/>
	<link rel="stylesheet" type="text/css" href="/static/site/styles/style-rtl.css"/>
	<link rel="stylesheet" type="text/css" href="/static/site/demo/style-demo.css"/>

</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
	    <div class="preloader__wrap">
		    <div class="circle-pulse">
                <div class="circle-pulse__1"></div>
                <div class="circle-pulse__2"></div>
            </div>
		    <div class="preloader__progress"><span></span></div>
		</div>
	</div>

    <main class="main">
	    <!-- Header Image -->
		<div class="header-image">
		    <div class="js-parallax" style="background-image: url(/static/site/img/image_header.jpg);"></div>
		</div>
		
	    <div class="container gutter-top">
		    <!-- Header -->
		    <header class="header box">
			    <div class="header__left">
				    <div class="header__photo">
					    <img class="header__photo-img" src="/static/site/img/main-photo.svg" alt="Ronald Robertson">
					</div>
					<div class="header__base-info">
					    <h4 class="title titl--h4">ملیکا خلیلیان</h4>
						<div class="status">کارگردان خلاق</div>
						<ul class="header__social">
						    <li><a href="https://www.facebook.com/"><i class="font-icon icon-facebook1"></i></a></li>
						    <li><a href="https://www.twitter.com/"><i class="font-icon icon-twitter1"></i></a></li>
							<li><a href="https://www.instagram.com/"><i class="font-icon icon-instagram1"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="header__right">
				    <ul class="header__contact">
					    <li><span class="overhead">ایمیل</span>Melika.khaliliyan@gmail.com</li>
						<li><span class="overhead">تلفن</span>09105552211</li>
					</ul>
					<ul class="header__contact">
					    <li><span class="overhead">تولد</span>9 بهمن 1375</li>
						<li><span class="overhead">مکان تولد</span>شاهرود ایران</li>
					</ul>
				</div>
			</header>
		        
		
					<!-- Footer -->
				
		      
		
        </div>
    </main>
    
    {% block content %}{% endblock %}

	<footer class="footer">© 1399 ملیکا خلیلیان</footer>

   
    <!-- Demo Menu -->
	
	<!-- JavaScripts -->
	<script src="/static/site/js/jquery-3.4.1.min.js"></script>
	<script src="/static/site/js/plugins.min.js"></script>
    <script src="/static/site/js/common.js"></script>
    
	<script src="/static/site/demo/plugins-demo.js"></script>
</body>
</html>